@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <div class="form-row align-items-center" style="margin-top:50px; margin-left:auto; margin-right:auto;">
            <div class="col-auto" style="margin:auto">
                <label asp-for="Address.Street"></label><br />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
                <input asp-for="Address.Street" />
            </div>
            <div class="col-auto" style="margin:auto">
                <label asp-for="Address.Number"></label><br />
                <span asp-validation-for="Address.Number" class="text-danger"></span>
                <input asp-for="Address.Number" />
            </div>
            <div class="col-auto" style="margin:auto">
                <label asp-for="Address.ZipCode"></label><br />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                <input asp-for="Address.ZipCode" />
            </div>
            <div class="col-auto" style="margin:auto">
                <label asp-for="Address.City"></label><br />
                <span asp-validation-for="Address.City" class="text-danger"></span>
                <input asp-for="Address.City" /><br />
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" style="margin-top:55px">Zatwierdź</button>
    </form>
</div>
